<!DOCTYPE html>
<html lang="en">
<>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>



    </script>

</head>
<body>

<div class="saveFile">

    <table>

        <th>
            
            파일등록

        </th>

        <tr>

            <td>

                파일이올부분.jqg
    
            </td>

        </tr>

        <tr>

            <td>

                <input type="file">
    
            </td>

        </tr>

        <tr>
            <td>

                <button type="submit">파일등록</button>&nbsp;

                <button type="submit">파일수정</button>&nbsp;

                <button type="submit">파일삭제</button>

            </td>


        </tr>

    </table>

</div>

<div>
    <p>저장된 파일리스트</p>

    <ul>

        <li><a href="">1.파일명</a></li>
        <li><a href="">2.파일명</a></li>
        <li><a href="">3.파일명</a></li>

    </ul>
</div>

</body>
</html>